<div class="main">
    <table>
      <tbody>
        <tr>
          <th>Owner</th>
          <td>{{ data.owner }}</td>  
        </tr>
        <tr>
          <th>Transaction ID</th>
          <td>{{ data.transaction_id }}</td>
        </tr>
        <tr>
          <th>Transaction Date</th>
          <td>{{ data.transaction_date }}</td>
        </tr>
        <tr>
          <th>Broker</th>
          <td>{{ data.get_broker_display }}</td>
        </tr>
        <tr>
          <th>Ticker</th>
          <td>{{ data.ticker }}</td>
        </tr>
        <tr>
          <th>Transaction Type</th>
          <td>{{ data.get_transaction_type_display }}</td>  
        </tr>
        <tr>
          <th>Amount</th>
          <td>{{ data.amount }}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{ data.price }}</td>
        </tr>
        <tr>
          <th>Fee</th>
          <td>{{ data.fee }}</td>
        </tr>
        <tr>
          <th>Note</th>
          <td>{{ data.note }}</td>
        </tr>
      </tbody>
    </table>
</div>
  